<!doctype html>
<html lang="en">
<head>
    <link
            rel="shortcut icon"
            href="https://i.postimg.cc/XX6Z4ktQ/11-112202-wiki-eurovision-heart-eurovision-heart-png.png"
            type="image/png"
    >
</head>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=Edge">
    <title>Welcome to Eurovision In Your Vision</title>
    <style>
    .error-message {
      position: fixed;
      top: 87%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #FFFFFF;
      color: #191970;
      padding-left:10px;
      padding-right:10px;
      padding-top:10px;
      padding-bottom:10px;
      border-radius: 10px;
      display: none;
      font-size:25px;
      font-family: Broadway;
    }
  </style>
</head>
<body
        style="background-image: url(https://i.postimg.cc/SKbNkmws/tryback13.png);
        background-size: cover;"
>
<link METHODS="GET" rel ="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<div class = "container">
    <div class ="block-left">
<h1><font color = "#191970" face="Broadway">Create new account</font></h1>
<p><font color = "#4B0082" style="font-family: 'Raleway', sans-serif;">Login and password should be unique<br>
    and your password should contain<br>no more and no less than 8 symbols</font></p>
        <form action="/">
            <p><button style="width: 170px; color: #FFFFFF; background: #191970; text-align: center; border-radius: 6px;">
                I have account!!!</button></p>
        </form>
    </div>
    <div class ="block-right">
<form method="post" action="/registration">
        <p><input type="text" name="username" placeholder="Username"></p>
        <p><input type="password" name="password" placeholder="Password"></p>
        <p><input type="number" name="age" placeholder="Age"></p>
        <p><select name = "Zodiac Sign">
            <option value="Aries">Aries</option>
            <option value="Taurus">Taurus</option>
            <option value="Gemini">Gemini</option>
            <option value="Cancer">Cancer</option>
            <option value="Leo">Leo</option>
            <option value="Virgo">Virgo</option>
            <option value="Libra">Libra</option>
            <option value="Scorpio">Scorpio</option>
            <option value="Sagittarius">Sagittarius</option>
            <option value="Capricorn">Capricorn</option>
            <option value="Aquarius">Aquarius</option>
            <option value="Pisces">Pisces</option>
        </select></p>
        <p><select name = "Gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
        </select></p>
        <p><select name = "Country">
            <option value="Albania">Albania</option>
            <option value="Armenia">Armenia</option>
            <option value="Australia">Australia</option>
            <option value="Austria">Austria</option>
            <option value="Azerbaijan">Azerbaijan</option>
            <option value="Belarus">Belarus</option>
            <option value="Belgium">Belgium</option>
            <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
            <option value="Bulgaria">Bulgaria</option>
            <option value="Croatia">Croatia</option>
            <option value="Cyprus">Cyprus</option>
            <option value="Czech Republic">Czech Republic</option>
            <option value="Denmark">Denmark</option>
            <option value="Estonia">Estonia</option>
            <option value="Finland">Finland</option>
            <option value="France">France</option>
            <option value="Georgia">Georgia</option>
            <option value="Germany">Germany</option>
            <option value="Greece">Greece</option>
            <option value="Hungary">Hungary</option>
            <option value="Iceland">Iceland</option>
            <option value="Ireland">Ireland</option>
            <option value="Israel">Israel</option>
            <option value="Italy">Italy</option>
            <option value="Latvia">Latvia</option>
            <option value="Lithuania">Lithuania</option>
            <option value="Luxembourg">Luxembourg</option>
            <option value="North Macedonia">North Macedonia</option>
            <option value="Malta">Malta</option>
            <option value="Moldova">Moldova</option>
            <option value="Monaco">Monaco</option>
            <option value="Netherlands">Netherlands</option>
            <option value="Norway">Norway</option>
            <option value="Poland">Poland</option>
            <option value="Portugal">Portugal</option>
            <option value="Romania">Romania</option>
            <option value="Russia">Russia</option>
            <option value="San Marino">San Marino</option>
            <option value="Serbia">Serbia</option>
            <option value="Slovakia">Slovakia</option>
            <option value="Slovenia">Slovenia</option>
            <option value="Spain">Spain</option>
            <option value="Sweden">Sweden</option>
            <option value="Switzerland">Switzerland</option>
            <option value="Turkey">Turkey</option>
            <option value="Ukraine">Ukraine</option>
            <option value="United Kingdom">United Kingdom</option>
            <option value="Other">Other</option>
        </select></p>
        <p><input type="submit" value="Create account"
                  style="color: #FFFFFF; background: #0000CD; width: 226px; border-color: #0000CD;"></p>
</form>
        </div>
</div>
<div id="error-message" class="error-message">{% if error_message %}{{ error_message }}{% endif %}</div>
{% if error_message %}
    <script>
      function showErrorMessage() {
        var errorMessage = document.getElementById('error-message');
        errorMessage.style.display = 'block';

        setTimeout(function() {
          errorMessage.style.display = 'none';
        }, 1500);
      }

      showErrorMessage();
    </script>
  {% endif %}
</body>
</html>