<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eurovision In Your Vision</title>
</head>
<link  rel ="stylesheet" href="{{ url_for('static', filename='main_style.css') }}">
<body>
<div class="container">
    <div class="block1">
        <form action="/home">
            <button style="background: url(https://i.postimg.cc/4yJWgTxh/in-your-vision-1-transformed-pixian-ai-CUT.png);
            width: 184px; height: 75px; margin-top: 3px;"></button>
        </form>
    </div>
    <div class="block2">
        <form action="/home">
            <button style="width: 80px; color: #FFFFFF; background: rgba(0,0,0,0);
            border-radius: 6px; margin-left: 479px; border-width: 0;">
                User Page
            </button>
        </form>
    </div>
    <div class="block3">
        <form action="/admin/select">
            <button style="width: 80px; color: #FFFFFF; background: rgba(0,0,0,0);
            border-radius: 6px; border-width: 0;">
                Admin Page
            </button>
        </form>
    </div>
    <div class="block4">
        <form action="/logout">
            <button style="width: 80px; color: #FFFFFF; background:  #0000CD; text-align: center;
            border-radius: 10px; margin-left: 373px; border-color: #00BFFF;">
                My Profile
            </button>
            <button style="width: 80px; color: #FFFFFF; background:  #0000CD; text-align: center;
            border-radius: 10px; margin-left: 373px; border-color: #00BFFF;">
                Log Out
            </button>
        </form>
    </div>
</div>

</body>
</html>